@import '../variables.scss';

.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 320px; //360px; //312px;
    display: block; // Safari bug fix
    margin-left: var(--sidebar-width);
    --border: 0px;
    background-color: var(--list-bkg-color);
}

.split-pane-md:not(.mobile){
    height: calc( 100% - var(--nav-bar-heigth));
    margin-top: var(--nav-bar-heigth);
}


.navbar{
    display: flex;
    position: fixed;
    top: 0px;
}

.sidebar-visible {
    margin-left: 60px;
}

.sidebar-hidden {
    margin-left: 0px !important;
}

.hide-sidebar {
    display: none;
}

.router-outlet-margin-left {
    left: 60px
}

// ion-nav {
//     background-color: var(--list-bkg-color);
// }

// @media (min-width: 768px) {
//     .split-pane-md.split-pane-visible > .split-pane-side {
//         min-width: 312px;
//         display: block; // Safari bug fix
//     }
// }


