<div id="user-details">

    <div class="user-details-dshbrd-lang">

        <span class="user-details-dshbrd-lang-code" style="text-transform: uppercase;color: #647491;">
            {{chat_lang}}
        </span>
        <img [src]="flag_url" style="width: auto;height: 19px; position: relative;top: 1px;">

    </div>

    <button class="user-details-btn-close" type="button" (click)="closeUserDetailSidePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
            </path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </button>


    <!-- (click)="goToUserProfile()" -->
    <div role="button" class="user-details-avatar">
        <img *ngIf="USER_PHOTO_PROFILE_EXIST" class="user-img-in-sidebar-user-details" [src]="photo_profile_URL"
            onerror="this.src='assets/images/no_image_user.png'" />

        <div *ngIf="!USER_PHOTO_PROFILE_EXIST" class="user-img-in-sidebar-user-details"
            [ngStyle]="{'background':  'linear-gradient(rgb(255,255,255) -125%,' + user?.fillColour + ')'}">
            <span id="sidebaravatar-altenative-user-avatar" class="sidebar-user-details-altenative-user-avatar">
                {{ user?.fullname_initial }}
            </span>
        </div>

    </div>

    <div class="user-details-user-isbusy" *ngIf="IS_BUSY === true" style="cursor:pointer"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{IS_BUSY_msg}}" #tooltip="matTooltip"
        matTooltipPosition='right' matTooltipHideDelay="100">
        <span class="material-icons user-details-user-isbusy-icon">
            access_time
        </span>
    </div>


    <div class="user-details-fullname">
        <h3> {{ user?.firstname }} {{ user?.lastname }} </h3>
    </div>

    <div class="user-details-email">
        <h3>{{ user?.email }} </h3>
    </div>

    <div class="user-details-role">
        <h3>{{ USER_ROLE_LABEL }} </h3>

        <div class="user-details-view-profile" (click)="goToUserProfile()"> 
            {{EditProfileLabel}}
        </div>
    </div>

    <section class="availability-section">
        <mat-slide-toggle (change)="changeAvailabilityStateInUserDetailsSidebar(IS_AVAILABLE = !IS_AVAILABLE)"
            class="custom-mat-slide-toggle" [checked]="IS_AVAILABLE" labelPosition="before">

            <span *ngIf="IS_AVAILABLE"
                style="font-weight: 400 !important; text-transform: capitalize; font-size:14px; color:#a9afbb">
                {{IS_AVAILABLE_msg}}
                <!-- {{translationMap?.get('Available') }} -->
            </span>
            <span *ngIf="!IS_AVAILABLE"
                style="font-weight: 400 !important;text-transform: capitalize;font-size:14px; color:#a9afbb">
                {{IS_UNAVAILABLE_msg}}
                <!-- {{translationMap?.get('Unavailable') }} -->
            </span>
        </mat-slide-toggle>
    </section>

    <hr class="first-divider">

    <section *ngIf="isVisiblePAY" class="user-details-plan-info">
        <span class="material-icons user-details-plan-icon">apps</span>
        <span>
            <div> {{prjct_name}} </div>
            <div style="display: inline-block;    margin-left: 26px;"> {{ profile_name_translated }} </div>

            <div *ngIf="plan_type === 'payment' && plan_subscription_is_active === false"
                style="color:#f44336; position:relative; top: -1px;;display: inline-block;">
                <i *ngIf="plan_name !== 'enterprise'" class="material-icons" style="vertical-align: middle; color:#f44336; cursor:pointer;    
                    font-size: 16px;" matTooltipClass="custom-mat-tooltip"
                    matTooltip="{{ SUBSCRIPTION_PAYMENT_PROBLEM_msg }}" #tooltip="matTooltip" matTooltipPosition='right'
                    matTooltipHideDelay="100">
                    error_outline
                </i>
                <i *ngIf="plan_name === 'enterprise'" class="material-icons" style="vertical-align: middle; color:#f44336; cursor:pointer;    
                    font-size: 16px;" matTooltipClass="custom-mat-tooltip" matTooltip="{{ THE_PLAN_HAS_EXPIRED_msg }}"
                    #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
                    error_outline
                </i>
            </div>
        </span>
    </section>

    <section class="user-details-help-center">
        <span class="material-icons user-details-help-center-icon">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <g><rect fill="none" height="24" width="24"/></g>
                <g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M19.46,9.12l-2.78,1.15 c-0.51-1.36-1.58-2.44-2.95-2.94l1.15-2.78C16.98,5.35,18.65,7.02,19.46,9.12z M12,15c-1.66,0-3-1.34-3-3s1.34-3,3-3s3,1.34,3,3 S13.66,15,12,15z M9.13,4.54l1.17,2.78c-1.38,0.5-2.47,1.59-2.98,2.97L4.54,9.13C5.35,7.02,7.02,5.35,9.13,4.54z M4.54,14.87 l2.78-1.15c0.51,1.38,1.59,2.46,2.97,2.96l-1.17,2.78C7.02,18.65,5.35,16.98,4.54,14.87z M14.88,19.46l-1.15-2.78 c1.37-0.51,2.45-1.59,2.95-2.97l2.78,1.17C18.65,16.98,16.98,18.65,14.88,19.46z"/></g>
            </svg>
        </span>
        <span class="user-details-help-center" (click)="goToHelpCenter()">Help center</span>
    </section>

    <!-- <hr class="second-divider" style="margin-top: 20px;border: 0;
        border-top: 1px solid rgba(255, 255,255, 0.2);"> -->


    <section class="user-details-footer-section"
        [ngClass]="{'footer-margin-top-pricing-no-visible': isVisiblePAY === false }">
        <div role="button" class="logout-btn-wpr" (click)=onLogout()>
            <i class="material-icons user-details-logout-icon" >
                logout
            </i>
            <div class="user-details-logout-text"> 
                 {{LOGOUT_msg}} 
            </div>
        </div>
    </section>

    <section class="user-details-footer-chat-version">
        <div class="chat-version">
            <!-- &copy; {{test | date: 'yyyy'}} {{company_name}} ver {{version}} -->
            ver {{version}}
        </div>
    </section>

</div>