<!-- *ngIf="project"  -->
<div class="logo">
  <!-- <a class="logo-img-wpr" [ngClass]="{'small-sidebar-logo-img-wpr' : SIDEBAR_IS_SMALL === true }">
    <div class="logo-img" (click)="goToHome()" style="cursor: pointer;">
      <img class="small-sidebar__logo" src="assets/logos/tiledesk-solo-logo.svg" />
    </div>
  </a> -->



  <div id="sidebaravatar-img-wpr" class="sidebar-avatar-container" (click)="openUserDetailSidePanel()"
    style="cursor: pointer;" [ngClass]="{'small-sidebar-avatar' : SIDEBAR_IS_SMALL === true,  'small-sidebar-avatar-with-avatar': SIDEBAR_IS_SMALL === true && !USER_PHOTO_PROFILE_EXIST}">

    <img *ngIf="USER_PHOTO_PROFILE_EXIST" id="sidebaravatar-img" class="sidebar-avatar" [src]="photo_profile_URL"
      onerror="this.src='assets/images/no_image_user.png'" />

    <div *ngIf="!USER_PHOTO_PROFILE_EXIST" id="sidebaravatar-no-img" class="sidebar-avatar"
      [ngStyle]="{'background':  'linear-gradient(rgb(255,255,255) -125%,' + currentUser?.fillColour + ')'}">
      <span id="sidebaravatar-altenative-user-avatar" class="sidebar-altenative-user-avatar">
        {{ currentUser?.fullname_initial }}
      </span>
    </div>

    <!-- matTooltipClass="custom-mat-tooltip" matTooltip="{{ tooltip_text_for_availability_status}}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" -->
    <!-- (click)="changeAvailabilityState(IS_AVAILABLE = !IS_AVAILABLE)"  -->
    <div id="teammate-status-icon" *ngIf="project_id" class="status-icon" [ngClass]="{
      'is-user-online' : IS_AVAILABLE === true && IS_INACTIVE === false, 
      'is-user-offline' : IS_AVAILABLE === false && IS_INACTIVE === false, 
      'is-user-inactive': IS_AVAILABLE === false && IS_INACTIVE === true}">
    </div>

      <!-- matTooltipClass="custom-mat-tooltip" matTooltip="{{ 'LABEL_BUSY' | translate }}" #tooltip="matTooltip"  matTooltipPosition='right' matTooltipHideDelay="100" -->
      <div id="sidebaravatar-isbusy-icon-wpr" class="sidebar--isBusy-icon-wpr" [ngClass]="{'sidebar--isBusy-icon-wpr-with-image': USER_PHOTO_PROFILE_EXIST}" *ngIf="IS_BUSY === true" style="cursor:pointer">
        <mat-icon id="sidebaravatar-isbusy-icon" svgIcon="td-clock" class="sidebar-is-busy-icon" aria-hidden="true"></mat-icon>
      </div>

  </div>
</div>

<div class="sidebar-wrapper">

    <div class="nav-custom sidebar-up">

      <!-- ------------------------------------------- -->
      <!-- CHAT  -->
      <!-- ------------------------------------------- -->
      <div class="item-active" matTooltipClass="custom-mat-tooltip" matTooltip="Chat"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
        <!-- <i class="material-icons sidebar-icons">chat</i> -->
        <mat-icon svgIcon="td-message" class="nav-sidebar-icon"></mat-icon>
      </div>

      <!-- ------------------------------------------- -->
      <!-- HOME   (click)="goToHome()"" -->
      <!-- ------------------------------------------- -->
      <div  matTooltip="Home" #tooltip="matTooltip" matTooltipPosition='right'
        matTooltipHideDelay="100" matTooltipClass="custom-mat-tooltip">
        <a target="_self" href="{{ dashboard_home_url }}" class="customAncor">
          <span>
            <mat-icon svgIcon="td-home" class="nav-sidebar-icon"></mat-icon>
          </span>
        </a>
      </div>

      <!-- -------------------------------------------------------- -->
      <!--  @ Knowledge Bases  -->
      <!-- -------------------------------------------------------- -->
      <ng-container *ngIf="USER_ROLE !== 'agent' && isVisibleKNB">
        <div id="bot-anchor-wpr" matTooltipClass="custom-mat-tooltip"
          matTooltip="Knowledge Bases" #tooltip="matTooltip" matTooltipPosition='right'
          matTooltipHideDelay="100" routerLinkActive="item-active">
          <a target="_self" href="{{ dashboard_knb_url }}" class="customAncor">
            <span>
              <mat-icon svgIcon="td-brain" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>


      <!-- ---------------------------------- -->
      <!-- Bot  (click)="goToBots()"  -->
      <!-- ---------------------------------- -->
      <ng-container *ngIf="USER_ROLE !== 'agent'">
        <div  id="bot-anchor-wpr" matTooltipClass="custom-mat-tooltip" matTooltip="{{ flows_lbl || 'Flows' }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_bots_url }}" id="bot-anchor" #botbtn class="customAncor">
            <span class="bot-icon-wpr">
              <mat-icon svgIcon="td-git-branch" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>

      <!-- ------------------------------------------- -->
      <!-- Conversations (MONITOR) (click)="goToConversations()" -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="isVisibleMON">
        <div  matTooltipClass="custom-mat-tooltip" matTooltip="Monitor"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_convs_url }}" class="customAncor">
            <!-- <i class="material-icons sidebar-icons">forum</i> -->
            <span>
              <mat-icon svgIcon="td-activity" class="nav-sidebar-icon"></mat-icon>
            </span>
          </a>
        </div>
      </ng-container>

    </div>

    <div class="nav-custom sidebar-bottom">

      <!-- ------------------------------------------- -->
      <!-- WHATSAPP BROADCASTS / AUTOMATIONS -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="USER_ROLE !== 'agent' && isVisibleAUT">
        <div matTooltipClass="custom-mat-tooltip" matTooltip="{{ whatsapp_broadcasts_lbl || 'WhatsApp Broadcasts' }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_automations_url }}" class="customAncor">
            <mat-icon svgIcon="td-brand-whatsapp" class="nav-sidebar-icon"></mat-icon>
          </a>
        </div>
      </ng-container>

      <!-- ------------------------------------------- -->
      <!-- CASEZAP -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="USER_ROLE !== 'agent' && project_id">
        <div matTooltipClass="custom-mat-tooltip" matTooltip="{{ casezap_lbl }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_casezap_url }}" class="customAncor">
            <mat-icon svgIcon="td-brand-whatsapp" class="nav-sidebar-icon"></mat-icon>
          </a>
        </div>
      </ng-container>

      <!-- ------------------------------------------- -->
      <!-- CONTACTS (LEADS)  (click)="goToContacts()" -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="isVisibleCNT">
        <div  matTooltipClass="custom-mat-tooltip" matTooltip="{{ contacts_lbl }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_contacts_url }}" class="customAncor">
            <mat-icon svgIcon="td-address-book" class="nav-sidebar-icon"></mat-icon>
          </a>
        </div>
      </ng-container>


      <!-- ------------------------------------------- -->
      <!-- ANALYTICS (click)="goToAnalytics()" -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="isVisibleANA && USER_ROLE !== 'agent'">
        <div  matTooltipClass="custom-mat-tooltip" matTooltip="{{ analytics_lbl }}"
          #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" >
          <a target="_self" href="{{ dashboard_analytics_url }}" class="customAncor">
            <!-- <i class="material-icons sidebar-icons">trending_up</i> -->
            <!-- <i class="material-icons sidebar-icons"> analytics </i> -->
            <!-- <i class="material-icons sidebar-icons">  bar_chart </i> -->
            <span class="bar-chart-icon-wpr"> 
              <mat-icon svgIcon="td-chart-bar" class="nav-sidebar-icon"></mat-icon>
           </span>
          </a>
        </div>
      </ng-container>

      <!-- ------------------------------------------- -->
      <!-- ACTIVITIES (click)="goToActivities()" -->
      <!-- ------------------------------------------- -->
      <ng-container *ngIf="isVisibleACT">
        <div *ngIf="USER_ROLE !== 'agent'"  matTooltipClass="custom-mat-tooltip"
          matTooltip="{{ activities_lbl }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
          <a target="_self" href="{{ dashboard_activities_url }}" class="customAncor">
            <mat-icon svgIcon="td-clipboard-list" class="nav-sidebar-icon"></mat-icon>
          </a>
        </div>
      </ng-container>

      <!-- ------------------------------------------- -->
      <!-- REQUESTS HISTORY (click)="goToHistory()" -->
      <!-- ------------------------------------------- -->
      <div  matTooltipClass="custom-mat-tooltip" matTooltip="{{ history_lbl }}"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
        <a target="_self" href="{{ dashboard_history_url }}" class="customAncor">
          <mat-icon svgIcon="td-history" class="nav-sidebar-icon"></mat-icon>
        </a>
      </div>

      <!-- ----------------------------------------------------------------------------------- -->
      <!-- SETTINGS // old: goToSettings_CannedResponses()  *ngIf="USER_ROLE !== 'agent'" (click)="goToWidgetSetUpOrToCannedResponses()" -->
      <!-- ----------------------------------------------------------------------------------- -->
      <div *ngIf="USER_ROLE !== 'agent'"  matTooltipClass="custom-mat-tooltip"
        matTooltip="{{ settings_lbl }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
        <a target="_self" href="{{ dashboard_settings_url }}" class="customAncor">
          <mat-icon svgIcon="td-settings" class="nav-sidebar-icon"></mat-icon>
        </a>
      </div>

      <!-- ------------------------------------------- -->
      <!-- SUPERADMIN -->
      <!-- ------------------------------------------- -->
      <div *ngIf="isSuperAdmin" matTooltipClass="custom-mat-tooltip"
        matTooltip="{{ admin_lbl }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
        <a target="_self" href="{{ dashboard_admin_url }}" class="customAncor">
          <mat-icon svgIcon="td-shield-cog" class="nav-sidebar-icon"></mat-icon>
        </a>
      </div>

      <div class="sidebar-separator">
        <!-- <i class="material-symbols-outlined sidebar-icons">
          check_indeterminate_small
        </i> -->
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" viewBox="0 -960 960 960" fill="none">
          <path d="M240-440v-80h480v80H240Z" />
        </svg>
      </div>


      <div matTooltipClass="custom-mat-tooltip" [matTooltip]="BRAND_BASE_INFO['COMPANY_NAME']" class="logoBrand"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100">
        <!-- ------------------------------------------- -->
        <!-- LOGO BRAND  (click)="goToOfficialSite()" -->
        <!-- ------------------------------------------- -->
        <a target="_blank" href="{{ tiledesk_url }}" class="customAncor">
          <img [src]="LOGOS_ITEMS['COMPANY_LOGO_NO_TEXT'].icon">
        </a>
      </div>

    </div>

    
</div>
